@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 30px;
    }

    .container img {
        width: 80%;
    }

    .buttons {
        display: flex;
    }

    .btn {
        height: 40px;
        width: 34px;
        border-radius: 20px;
        border-color: orange;
        color: white;
        top: 18%;
        margin-left: 10%;
        font-size: 8px;
        padding: 8px;
    }

    .key-name {
        display: none;
    }

    h2 {
        font-size: 20px;
        margin-top: 100%;
    }

    .footer-info {
        font-size: 20px;
    }
}