* {
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: Sintony, Arial;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(resources/photo/crowd.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    margin: 0;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    color: #ff8c00;
    text-shadow: 2px 2px 2px #000000;
}

.footer-info {
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    color: #ff8c00;
    text-shadow: 2px 2px 2px #000000;
}


.btn {
    height: 80px;
    width: 8%;
    margin-top: 2%;
    border-radius: 20px;
    border-color: #ffa500;
    color: #ffffff;
    top: 18%;
    margin-left: 2%;
    margin-bottom: 10px;
}

.active {
    color: #ffa500;
    border-color: rgba(150, 150, 150, 0.565);
}

.container {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
}

.container img {
    width: 60%;
    position: relative;
}

.non-active {
    display: none;
}

.key-name, .drum-name {
    color: #ffffff;
    top: 50%;
    left: 50%;
}

.row {
    position: relative;
}